<h1>Pedidos de otras Bodegas</h1>
<Table>
	<tr>
		<th>ID Bodega</th>
		<th>Fecha</th>
		<th>Show</th>
	</tr>
<% Pedido_bodega.all.each do |pedido| %>
	<tr>
		<td><%= pedido.id_bodega %></td>
		<td><%= pedido.fecha %></td>
		<td><a href= <%= "/welcome/showPedidoBodega?id=#{pedido.id}" %>> pedidos<a/><p/></td>
	</tr>
<% end %>