<!DOCTYPE html>
<html>
<head>
  <title>Pagina</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<p>Central Ahorro - G4</p>
	<a href="http://integra4.ing.puc.cl/store">E-Commerce</a>
	<a href="http://integra4.ing.puc.cl/dashboard">DashBoard</a>
	<a href="http://integra4.ing.puc.cl/pedidos">Pedidos</a>
</header>
<%= yield %>

</body>
</html>
